<div class="flex items-center justify-center mb-8">
    <input 
        class="w-9/12 max-w-2xl py-2 px-3 mr-6 text-zinc-900 rounded" 
        placeholder="Search for movie or tv show..."
        [(ngModel)]="queryValue"
    />
    
    <button 
        class="transition duration-150 ease-out hover:ease-in bg-emerald-400 hover:bg-emerald-500 active:bg-emerald-600 rounded text-zinc-900 py-3 px-6 flex items-center"
        (click)="handleClick()"    
    > 
        search
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
    </button>
</div>
